extends layout

block content
  h2= self.title
  ul
    for post in self.posts.slice().reverse()
      li
        a(href=`${post.name}.html`) #{post.title}
        |
        | (
        span= post.published.toISOString()
        | )
