doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="The easy way to create a lovely blog")
    meta(name="author" content=cfg.author)

    title= self.title || cfg.title

    link(rel="icon" href="/favicon.ico")
    link(href="/blog/feed.rss" type="application/rss+xml" rel="alternate" title="chilts.org RSS Feed")
    link(href="/blog/feed.atom" type="application/atom+xml" rel="alternate" title="chilts.org Atom Feed")

  body(style="margin:0;padding:0;")
    nav(style="background-color:#ddd;padding:8px;")
      for item in data.menu
        a(style="margin:0 8px;" href=item.url)= item.title

    div(style="padding:16px;")
      block content

    footer(style="text-align:center;border-top:2px solid #ccc;background-color:#eee;padding:16px;") &copy; #{cfg.domain} 2019
